{#
/**
 * @file
 * Default theme implementation to present an anonymous feedback entity.
 *
 * This template is used when viewing a registered anonymous feedback's page,
 * e.g., /admin/content/anonymous-feedback)/123. 123 being the anonymous feedback's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_anonymous_feedback()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
